body {
  margin: 0;
  min-height: 100vh;
  color: var(--ink);
  font-family: var(--primary-font);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1.25rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  margin: 0;
}

h2 {
  text-decoration: underline;
  text-decoration-color: var(--accent);
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
}

h2 code {
  font-size: inherit;
}

h2 + h3 {
  margin-top: 1rem;
}

p + h4 {
  margin-top: 3rem;
}

a {
  color: var(--black);
  text-decoration: none;
}

p {
  --indent: -1.5rem;
  text-indent: var(--indent);
  margin-left: calc(-1 * var(--indent));
}

p a {
  font-weight: 600;
  color: var(--colorful);
}

blockquote {
  display: flex;
  margin-left: 0;
  padding: 0.8rem;
  border-radius: 20px;

  font-family: "Georgia", serif;
  font-style: italic;
  font-size: 1.2rem;
  background-color: var(--quote-background);
  width: 100%;
}

blockquote::before {
  content: "“";
  font-size: 6rem;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
  color: var(--text-title);
}

blockquote p {
  text-indent: initial;
}

code {
  color: var(--black);
  font-size: 1rem;
  padding: 0.2rem 0.3rem;
  border-radius: 4px;
  background: var(--code-background);
}

pre {
  padding: 0.5rem;
  line-height: initial;
}

pre code {
  background: initial;
}
