---
import BaseLayout from "../layouts/BaseLayout.astro";
import type { MarkdownLayoutProps } from "astro";

type Post = MarkdownLayoutProps<{
  title: string;
  pubDate: string;
  excerpt: string;
}>;

function comparePostsByPublishDate(a: Post, b: Post) {
  return new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf();
}

const unsortedPosts: Post[] = await Astro.glob("./blog/*.{md,mdx}");
const sortedPosts = unsortedPosts.sort(comparePostsByPublishDate);
---

<BaseLayout>
  {
    sortedPosts.map((post) => (
      <div class="post">
        <h3>
          <a href={post.url}>{post.frontmatter.title}</a>
        </h3>
        <aside>{post.frontmatter.excerpt}</aside>
      </div>
    ))
  }
</BaseLayout>

<style>
  div.post {
    margin-bottom: 3rem;
  }

  h3 {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
  }

  h3 a {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--colorful);
    text-decoration-thickness: 4px;
  }
</style>
