---
const today = new Date();
---

<footer>
  <div id="tagline">A blog about the hard parts of software engineering.</div>
  <div id="copyright">&copy; {today.getFullYear()} Marcell Endrey. All rights reserved.</div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
    background: var(--black);
    color: var(--white);
    margin-top: 6rem;
  }

  #tagline {
    font-size: 1.2rem;
    line-height: 4rem;
  }

  #copyright {
    font-size: 0.7em;
  }

  @media (max-width: 600px) {
    footer {
      margin-top: 2rem;
    }

    #tagline {
      line-height: 2rem;
    }

    #copyright {
      margin-top: 1rem;
    }
  }
</style>
