html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 500;
}

h1 {
  font-family: var(--font-title);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.6rem;
}

h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 2.8rem;
}

div.excerpt > p:first-child {
  margin-top: 0;
}

p {
  text-indent: 1rem;
  line-height: 28px;
}

p + p {
  margin-top: 2rem;
}

p > b {
  margin-inline: 2rem;
  font-size: 1.2rem;
  color: var(--entity);
}

div.excerpt p {
  text-indent: initial;
  line-height: 23px;
}

ul p {
  line-height: 12px;
}

blockquote {
  display: flex;
  margin-left: 0;
  padding: 0.8rem;
  border-radius: 20px;
  gap: 1.5rem;
  font-style: italic;
  font-size: 1.2rem;
  background-color: var(--line);
  width: 100%;
}

blockquote::before {
  content: "“";
  font-size: 6rem;
  line-height: 3rem;
  margin-top: 1rem;
  margin-bottom: -1rem;
  color: var(--entity);
}

blockquote p {
  text-indent: initial;
}

code {
  font-family: "Fira Code", monospace;
  font-size: 0.9rem;
  background-color: var(--line);
  padding: 2px 4px;
  border-radius: 5px;
}

code.codeblock {
  background-color: #292d3f;
  color: #a5c5cf;
  padding: 1rem;
  border-radius: 5px;
  display: block;
  width: 100%;
}

b {
  display: block;
  font-size: 1.1rem;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: var(--entity);
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  font-style: italic;
}

/* used for quote attribution */
h6::before {
  content: "—";
  margin-inline: 0.2rem;
}

h6 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: normal;
}

@media screen and (min-width: 600px) {
  body {
    overscroll-behavior-y: none;
  }

  a {
    font-weight: 300;
  }
}
