.theme-shared-typography {
  --font-sans: "Fira Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-title: var(--font-sans);
  --font-body: var(--font-serif);
}

.theme-ayu-light {
  --bg-main: #fcfcfc;
  --fg-main: #5c6166;
  --line: rgba(138, 145, 153, 0.1);
  --text-muted: #bbb;
  --entity: #399ee6;
  --accent: #ffaa33;
  --string: #86b300;
  --selection: red;
}

.theme-ayu-mirage {
  --bg-main: #242936;
  --fg-main: #cccac2;
  --line: #1a1f29;
  --entity: #73d0ff;
  --accent: #ffcc66;
  --string: #d5ff80;
  --selection: rgba(64, 159, 255, 0.25);
}
