.theme-shared-typography {
  --font-sans: "Fira Sans", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-title: var(--font-sans);
  --font-body: var(--font-serif);
}

.theme-ayu-light {
  --bg-main: #fcfcfc;
  --fg-main: #5c6166;
  --line: rgba(138, 145, 153, 0.1);
  --text-main: black;
  --text-title: black;
  --text-muted: #bbb;
  --text-heading: #399ee6;
  --accent: #ffaa33;
  --text-link: var(--accent);
  --text-link-bg: rgba(81, 165, 224, 0.416);
}

.theme-ayu-mirage {
  --bg-main: #242936;
  --fg-main: #cccac2;
  --line: #1a1f29;
  --text-main: var(--fg-main);
  --text-title: #73d0ff;
  --text-heading: white;
  --text-muted: #bbb;
  --accent: #ffcc66;
  --text-link: #d5ff80;
}
